{% extends "layout.html" %}

{% block title%}
<title> Search Book</title>
<style>
    #brand{
        pointer-events: none;
    }
</style>
{% endblock %}

{% block navs %}
{% for i in session["id"]%}
    <div>Hello! <span style="color: darkcyan; ">{{i}}</span></div> 
{%else%}
    <div>Hello! <span style="color: darkcyan; ">Stranger</span></div> 
{%endfor%}
<ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">LOGOUT</a>
    </li>
</ul>
{% endblock %}

{% block body %}
<div style=" padding: 20px; padding-right: 35px; width: auto; float: right;">
    <small id="emailHelp" class="form-text text-muted" style="margin-left: -2px; padding-bottom: 8px;">Search Book by it's title / author / isbn_no.</small>
    <form class="form-inline mt-2 mt-md-0" method="POST">
        <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search the book..." aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
            Search
        </button>
    </form>
</div>
<br>

<div>
    {% block books %}
    {% endblock %}
</div>

{% endblock %}