{% extends "layout.html" %}

{% block title%}
<title> {{title}} by {{check.author}}</title>
<style>
    #brand{
        pointer-events: none;
    }
    .form-check-label{
        padding: 12px;
    }
    .nav-link{
        font-weight: bold; color: #4B5563;
    }
    .nav-item :hover{
        background-color: #4338CA; color: white;
    }
   
    .th{
        font-size: 12; vertical-align: middle !important; padding: 8px 36px; color: rgb(108, 117, 125); font-weight: 500; letter-spacing: .5px;
    }
    .td{
        font-size: 20; font-weight: 700; text-align: left !important; color: rgb(108, 117, 125); letter-spacing: 1px;
    }
    .details{
        margin: auto;
    }

    .fs-2{
        font-size: 32; font-weight: 700; letter-spacing: 1px; color: rgb(0, 123, 255);
    }
    .rate{
        width: 50%; margin-right: 2%; padding: 0 20px; padding-bottom: 30px; text-align: center; color: rgb(0, 123, 255);
         border-radius: 15px; letter-spacing: .5px; font-weight: 500;
    }
</style>
{% endblock %}

{% block navs %}
{% for i in session["id"]%}
    <div>Hello! <span style="color: darkcyan; ">{{i}}</span></div> 
{%endfor%}
<ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">LOGOUT</a>
    </li>
</ul>
{% endblock %}

{% block body %}
<div class="row" style="height:800px">
    
    <div class="col-5" style="margin-left:5%; float:right; margin-top: 40px; ">
        <div style="margin: auto;  padding: 20px; border-top-left-radius:10px; border-top-right-radius:10px; background-color: #F9FAFB; max-width: 700px;">

            <!-- <h3>Book Details</h3> -->
        
            <div class="details">
                <div class="d-flex flex-row">
                    <div style="padding:10px; padding-left:40px;">
                        <img src="https://covers.openlibrary.org/b/isbn/{{details["isbn13"]}}-M.jpg" width="160px" height="200px" alt="">
                    </div>
                    <div>
                        <div>
                            <p scope="col" class="th">Book Title <br>
                                <span class="td">{{ check.title }} </span class="td">
                            </p>
                        </div>
                        <div>
                            <p scope="col" class="th">Author Name <br>
                                <span class="td">{{ check.author }} </span class="td">
                            </p>
                        </div>
                        <div>
                            <p scope="col" class="th">Publication Year <br>
                                <span class="td">{{ check.pbyear }}</span class="td">
                            </p>
                        </div>
                    </div>
                </div>
                <div class="d-flex flex-row">
                    <div>
                        <p scope="col" class="th">Book Id <br>
                            <span class="td">{{ check.id }} </span class="td">
                        </p>
                    </div>
                    <div>
                        <p scope="col" class="th">ISBN <br>
                            <span class="td">{{ check.isbn }} </span class="td">
                        </p> 
                    </div>
                    <div>
                        <p scope="col" class="th">ISBN13 <br>
                            <span class="td">{{ details["isbn13"] }} </span class="td">
                        </p>
                    </div>                    
                </div>
                
            </div> <hr>
        </div>
        
        <div style="margin: auto; padding: 0 30px; background-color: #F9FAFB; border-bottom-left-radius:10px; border-bottom-right-radius:10px; max-width: 700px; font-size:12px;">
            <div class="d-flex flex-row">
                <div class="totr rate">
                    <div>No. Of Ratings </div>
                    <div class="fs-2">{{ details["work_ratings_count"] }}</div>
                </div>
                <div class="avgr rate">
                    <div>Avg. Rating</div>
                    <div class="fs-2">{{ '%0.1f'| format(details["average_rating"] | float) }}<span style="font-size:20; font-weight: 400; color: rgb(0, 123, 255)">/5</span>
                    </div>
                </div>
            </div>
        
                <!-- <body>
        
                    <table class="table">
                        <tbody style="text-align: left;">
                            <tr>
                                <th scope="col">Total no. of ratings:</th>
                                <td class="fs-2">{{ details["work_ratings_count"] }} </td>
                            </tr>
                            <tr>
                                <th scope="col">Average Rating:</th>
                                <td class="fs-2">{{ details["average_rating"] }} </td>
                            </tr>
                        </tbody>
                    </table>
                -->
        
                    <!-- <form method="POST">
                        
                        <div class="formgroup" style="padding: 10px;">
                            <label for="radio" style="font-size: x-large;">Rate this Book:</label>
                            <div class="form-check form-check-inline">
                                <label class="form-check-label" for="rate1">1</label>
                                <input class="form-check-input" type="radio" name="rate1" value="option1"> &nbsp;&nbsp;&nbsp;
                                <label class="form-check-label" for="rate2">2</label>
                                <input class="form-check-input" type="radio" name="rate2" value="option1">&nbsp;&nbsp;&nbsp;
                                <label class="form-check-label" for="rate3">3</label>
                                <input class="form-check-input" type="radio" name="rate3" value="option1">&nbsp;&nbsp;&nbsp;
                                <label class="form-check-label" for="rate4">4</label>
                                <input class="form-check-input" type="radio" name="rate4" value="option1">&nbsp;&nbsp;&nbsp;
                                <label class="form-check-label" for="rate5">5</label>
                                <input class="form-check-input" type="radio" name="rate5" value="option1">
                            </div> <hr>
                            
                        </div>
                    </form> -->
                <!-- </body> -->
        </div>
    </div>

    <div class="col-6" style="margin-right:5%; margin-top: 40px; padding: 20px; border-radius: 10px; background-color: #F9FAFB; max-width: 700px; max-height:650px; overflow-y: auto;">
        <section style="padding: 20px;">
            <form method="POST">
                <div>
                    <label for="exampleFormControlTextarea1" style="font-size: normal;">Have you read <b>{{ check.title }}</b>...? </label>
                    <textarea class="form-control" name="review" id="exampleFormControlTextarea1" rows="5" placeholder="Write a Review to tell us about it..."></textarea>
                </div> 
                <div style="padding: 5px 15px;">
                    <button type="submit" name="comment" class="btn btn-primary" style="float: right;">Post</button> <br><br>
                </div> <br><hr>
            </form>
                
    
            {% for review in userreviews %}
            <div>
                <h5 style="font-weight: 600;">{{ review.userid }}</h5>
                <body>
                    {{ review.reviews }}
                </body>
            </div> 
            <div style="padding: 2px; float:right;">
                <!-- <a href=""><small>Upvote</small></a> &nbsp | &nbsp;
                <a href=""><small>Downvote</small></a> &nbsp | &nbsp; -->
                <a href=""><small>Edit</small></a> &nbsp | &nbsp;
                <a href=""><small>Delete</small></a>
            </div> <br>
            <hr>
            {% endfor %}
        </section>
    </div>
</div>

{% endblock %}