{% extends "layout.html" %}

{% block title%}
<title> {{title}} by {{check.author}}</title>
<style>
    #brand{
        pointer-events: none;
    }
    .form-check-label{
        padding: 12px;
    }
    .nav-link{
        color: #4B5563;
    }
    .nav-item :hover{
        background-color: #4338CA; color: white;
    }
   
    .th{
        font-size: 13; vertical-align: middle !important; padding: 2px 20px; color: black; font-weight: 500; letter-spacing: .5px;
    }
    .td{
        font-size: 22;  text-align: left !important; color: black; letter-spacing: 1px;
    }
    .details{
        margin: auto;
    }

    .fs-2{
        font-size: 32; letter-spacing: 1px; color: #1D4ED8;
    }
    .rate{
        width: 50%; margin-right: 2%; padding: 0 20px; padding-bottom: 30px; text-align: center; color: #1D4ED8;
         border-radius: 15px; letter-spacing: .5px; font-weight: 500;
    }
    .reviewsection{
        padding: 0 5px; padding-top: 5px;
    }
    #commenttext{
        font-size: 16px !important; color: black !important;
    }
    .details-main-div{
        background-size: cover; max-width: full; padding: 10px 0;
        background-image: url({{ url_for('static', filename='bg_search1.jpg') }}); 
        background-blend-mode: lighten; background-attachment: fixed;
    }
    .details-div{
        background: rgba(255, 255, 255, 0.84);
        z-index: 10;
    }
    .normal-div{
        z-index: -1;
        opacity: 1;
    }
</style>


<script>
    function success() {
	 if(document.getElementById("exampleFormControlTextarea1").value==="") { 
            document.getElementById('button').disabled = true; 
        } else { 
            document.getElementById('button').disabled = false;
        }

    
    }
</script>

{% endblock %}


{% block navs %}

    {% for i in session["id"]%}
        <div>Hello! <span style="color: darkcyan; ">{{i}}</span></div> 
        <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('search') }}">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Logout</a>
            </li>
        </ul>
    {% else %}
        <ul class="nav nav-tabs justify-content-end">
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('index') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('search') }}">Books</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('signup') }}">Signup</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{url_for('login')}}">Signin</a>
            </li>
        </ul>
    {% endfor %}

{% endblock %}



{% block body %}
<div class="row details-main-div" style="min-height:800px;">
    
    <div class="col-5" style="margin:auto; float:right; margin-top: 10px; max-width:900px;">
        <div class="details-div" style="margin: auto;  padding: 20px; border-top-left-radius:10px; border-top-right-radius:10px; max-width: 700px;">

            <!-- <h3>Book Details</h3> -->
        
            <div class="details normal-div">
                <div class="d-flex flex-row normal-div">
                    <div style="padding:5px; padding-left: 15px; ">
                        <img src="https://covers.openlibrary.org/b/isbn/{{details["isbn13"]}}-L.jpg" width="260px" height="360px" alt="">
                    </div>
                    <div>
                        <div>
                            <p scope="col" class="th">Book Title <br>
                                <span class="td">{{ check.title }} </span class="td">
                            </p>
                        </div>
                        <div>
                            <p scope="col" class="th">Author Name <br>
                                <span class="td">{{ check.author }} </span class="td">
                            </p>
                        </div>
                        <div>
                            <p scope="col" class="th">Publication Year <br>
                                <span class="td">{{ check.pbyear }}</span class="td">
                            </p>
                        </div>
                        <div>
                            <p scope="col" class="th">Category <br>
                                {% if content==0 %}
                                    <span class="td">Not Available</span class="td">
                                {% else %}
                                    <span class="td">{{ content["categories"][0] }}</span class="td">
                                {% endif %}
                            </p>
                        </div>
                        <div>
                            <p scope="col" class="th">ISBN <br>
                                <span class="td">{{ check.isbn }}, {{ details["isbn13"] }} </span class="td">
                            </p>
                        </div>    
                     
                    </div>
                
                </div> <hr>
        </div>

        <div class="normal-div" >
            <p class="th" style="font-size: 22 !important; font-weight:400; color:black !important;">Book summary</p>
            <p class="th" style="font-size: 16 !important; font-weight:400;">
                {% if content==0 %}
                    Not Available
                {% else %}
                    {{ content["description"] }} 
                {% endif %}
            </p> <br>
        </div> <hr>
        
        <div class="normal-div" >
            <p class="th" style="font-size: 22 !important; font-weight:400; color:black !important;">About the book
                <span style="color:darkslategray">({{check.title}})</span>
            </p>
            <p class="th" style="font-size: 16 !important; font-weight:400;">
                {% if bookdata == 0 %}
                    Data not available.
                {% else %}
                    {{ bookdata }}
                {% endif %} </p>
        </div> <hr>

        <div class="normal-div" >
            <p class="th" style="font-size: 22 !important; font-weight:400; color:black !important;">About the author 
                <span style="color:darkslategray">({{check.author}})</span></p>
            <p class="th" style="font-size: 16 !important; font-weight:400;">{{ authordata }} </p>
        </div> <br> <hr> <br>

        <div class="normal-div" style="margin: auto; padding: 0 30px; border-bottom-left-radius:10px; border-bottom-right-radius:10px; max-width: 700px; font-size:12px;">
            <div class="d-flex flex-row normal-div">
                <div class="totr rate" style="margin: auto">
                    <div>   
                        <img src="{{ url_for('static', filename='goodreads.png') }}" width="140px" alt="">
                    </div>
                </div>
                <div class="totr rate">
                    <div>Total no. of ratings </div>
                    <div class="fs-2">{{ details["work_ratings_count"] }}</div>
                </div>
                <div class="avgr rate">
                    <div>Avg. Rating</div>
                    <div class="fs-2">{{ '%0.1f'| format(details["average_rating"] | float) }}<span style="font-size:20; font-weight: 400; color: rgb(0, 123, 255)">/5</span>
                    </div>
                </div>
            </div>
            
            <div class="d-flex flex-row normal-div">
                <div class="totr rate" style="margin: auto">
                    <div>   
                        <img src="{{ url_for('static', filename='google.png') }}" width="140px" alt="">
                    </div>
                </div>
                <div class="totr rate">
                    <div>Total no. of ratings </div>
                    <div class="fs-2">
                        {% if content==0 %}
                            NA
                        {% else %}
                            {{ content["ratingsCount"] }}
                        {% endif %}
                    </div>
                </div>
                <div class="avgr rate">
                    <div>Avg. Rating</div>
                    <div class="fs-2">
                        {% if content==0 %}
                            NA{% else %}{{ '%0.1f'| format(content["averageRating"] | float) }}{% endif %}<span style="font-size:20; font-weight: 400; color: rgb(0, 123, 255)">/5</span>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    

    <div class="col-6 details-div" style="margin-right:5%; margin-top: 10px; padding: 20px; border-radius: 10px; max-width: 900px; min-height:650px;">
        <section style="padding: 20px;">
            <form method="POST">
                <div>
                    <label for="exampleFormControlTextarea1" style="font-size: normal;">Have you read the book <b>{{ check.title }}</b>...? </label>
                    <textarea class="form-control" onkeyup=success() name="review" id="exampleFormControlTextarea1" style: "white-space: pre-wrap;" rows="5" placeholder="Write a Review to tell us about it..."></textarea>
                </div> 
                <div style="padding: 5px 15px;">
                    <button type="submit" id="button" name="comment" class="btn btn-primary" style="float: right;" disabled>Post</button> <br><br>
                </div> <br><hr>
            </form>
                
    
            {% for review in userreviews %}
            <div class="reviewsection">
                <!-- <h5 style=" font-size:20;">{{ review.username }}</h5> -->
                <div id="commenttext">
                    {{ review.reviews }}
                </div>
            </div> 
            <div style="padding: 0 5px; padding-bottom:5px; float:left; color:darkslategray;">
                <small>{{ review.username }}</small> &nbsp; | &nbsp;
                 <small>
                     posted {{ review.time.strftime("%b") }} {{ review.time.strftime("%d") }} '{{ review.time.year }} at 
                     {{ review.time.strftime("%I") }}:{{ review.time.strftime("%M") }} {{ review.time.strftime("%p") }}
                 </small> &nbsp; | &nbsp;
            </div> <br>
            <hr>
            {% endfor %}
        </section>
    </div>
</div>


{% endblock %}