{% extends "layout.html" %}

{% block title%}
<title> {{heading}} </title> 
<style>
    .nav-link{
        color: #4B5563;
    }
    .nav-item :hover{
        background-color: #4338CA; color: white;
    }
</style>
{% endblock %}

{% block navs %}
{% for i in session["id"]%}
    <div>Hello! <span style="color: darkcyan; ">{{i}}</span></div> 
{%endfor%}
<ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">LOGOUT</a>
    </li>
</ul>
{% endblock %}

{% block body %}
<div style="margin: 18%; margin-top: 5%; border-radius: 25px; border: 2px transparent; background-color: #f8f9fa; padding: 20px; width: 65%;">
    <h1>{{heading}}!</h1>
    {{ message }}
    
</div>
{% endblock %}