{% extends "layout.html" %}

{% block title%}
    Error
{% endblock %}

{% block body %}
<div style="margin: 18%; margin-top: 5%; border-radius: 25px; border: 2px transparent; background-color: #f8f9fa; padding: 20px; width: 65%;">
    <h1>Error!</h1>
    {{ message }}
    <ul class="nav nav-tabs justify-content-end">
        <li class="nav-item">
            <a class="nav-link" href="{{ url_for('signup') }}">SIGNUP</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{{url_for('login')}}">LOGIN</a>
        </li>
    </ul>
</div>
{% endblock %}