{% extends "layout.html" %}

{% block title%}
<title> BOOKScout </title>
{% endblock %}

{% block navs %}

<ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('signup') }}">SIGNUP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('login')}}">LOGIN</a>
    </li>
</ul>
{% endblock %}

{% block body %}

<div style="margin: auto; margin-top: 8%; border-radius: 21px; border: 2px transparent; background-color: black; padding: 4px; width: 70%;">
    
    <img src="static/book.jpg" style="max-width: 420px; float: left;">
    <div style="text-align: center; padding: 20px; background-color: white;">
        <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
            Welcome, <BR> To <b><span style="color: lightseagreen;">BOOK</span><span style="color: rgb(245, 186, 37);">Scout</span>...!</b><br>
        </h1>
        <p style="font-size: larger; text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: darkcyan;">
            This is a book review website. Here you will be able to search for books, 
            leave reviews for individual books, and see the reviews made by other people. <br><br>
            Click above on <b>SIGNUP</b>  to Register.
        </p>
    </div>
</div>


{% endblock %}