{% extends "layout.html" %}

{% block title%}
<title> Login </title>
<style>
    .nav-link{
        color: #4B5563;
    }
    .nav-item :hover{
        background-color: #4338CA; color: white;
    }
</style>
{% endblock %}

{% block navs %}
<ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('index') }}">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('search') }}">Books</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{ url_for('signup') }}">Signup</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="{{url_for('login')}}">Signin</a>
    </li>
</ul>
{% endblock %}


{% block body %}
<div style="margin: auto; height: 80%; margin-top: 5%; border-radius: 25px; border: 2px transparent;  padding: 20px; width: 85%; max-width: 450px;">
    <h1 style="font-size: 48; text-align: center; padding: 15px; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">
        <b><span style="color: #10B981;">Book</span><span style="color: rgb(245, 186, 37);">.info</span></b><br>
    </h1>
    <div style="padding: 10px 0;">
        <h2>LOGIN</h2>
    </div>

        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                <div class="alert alert-{{category}} flashes" role="alert">
                    {{ message }}   
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

    <div style="padding-left: 20%;"></div>
        <form method="POST">
            <div class="form-group">
                <input type="email" name="username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
            </div>
            <div class="form-group">
                <input type="password" name="pswd" class="form-control" id="exampleInputPassword1" placeholder="Enter your Password">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div>
                <button type="submit" class="btn btn-md btn-primary">Submit</button>
                <button type="reset" class="btn btn-md btn-primary">Reset</button>
            </div>
            
        </form>
    </div>
</div>

{% endblock %}

