{% extends "layout.html" %}

{% block title%}
<title> Signup </title>

{% endblock %}

{% block navs %}
<ul class="nav nav-tabs justify-content-end">
    <li class="nav-item">
        <a class="nav-link active" href="{{ url_for('signup') }}">SIGNUP</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="{{url_for('login')}}">LOGIN</a>
    </li>
</ul>
{% endblock %}


{% block body %}
<div style="margin: auto; margin-top: 5%; border-radius: 25px; border: 2px transparent; background-color: #f8f9fa; padding: 20px; width: 85%; max-width: 450px;">
    <div style="padding-bottom: 10px;">
    <h3>Create you account</h3>
    </div>
    <div style="padding-left: 20%;"></div>
        <form action="{{url_for('signup')}}" method="POST">
            <div class="form-group">
                <input type="text" name="fname" class="form-control" id="exampleInputPassword1" placeholder="Full Name">
            </div>
            <div class="form-group">
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
            </div>
            <div class="form-group">
                <input type="password" name="pwd" class="form-control" id="exampleInputPassword1" placeholder="New Password">
                <small id="emailHelp" class="form-text text-muted">We'll never share your details with anyone else. Your privacy is our first priority.</small>
            </div>
            <div>
                <button type="submit" class="btn btn-md btn-primary">Submit</button>
                <button type="reset" class="btn btn-md btn-primary">Reset</button>
            </div>
        </form>
    </div>
</div>

{% endblock %}

